#code-submission {
  width: 16rem;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.bottom-area {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

html {
  margin: 1rem;
}